route:
  receiver: smtp-gmail

receivers:
  - name: 'smtp-gmail'
    email_configs:
    - to: 'derkachev.igor@gmail.com'
      from: 'derkachev.igor@gmail.com'
      require_tls: true
      auth_username: 'derkachev.igor@gmail.com'
      auth_password: 'Wp676272yR'
      auth_identity: 'derkachev.igor@gmail.com'
      smarthost: smtp.gmail.com:587
      send_resolved: true
